.bicicleta-bg:nth-child(2) {
    background: linear-gradient(to right, rgb(255, 255, 255) 30%, rgb(0, 0, 0) 0%);
}


.bicicletas-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
    overflow: hidden;
}

.bibicleta-lista-img {
    display: grid;
}

.bibicleta-lista-img img {
    grid-area: 1/1;
}

.bibicleta-lista-img span {
    grid-area: 1/1;
    display: block;
    align-self: start;
    padding: 4px 7px;
    justify-self: end;
    background: black;
    margin-top: 20px;
    color: white;
}

.bibicletas-titulo-bg {
    background-color: var(--cor-11);
    padding: 40px 20px;
}

.bicicleta-lista-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.bicicleta-lista-item-titulo {
    margin-bottom: 20px;
}

.bicicleta-lista-caracteristica li {
    margin-bottom: 10px;
}

.bicicleta-lista-caracteristica {
    margin-top: 30px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: end;
}

.bicicleta-lista-item-caracteristica {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}
