.footer-bg {
    background-color: #000000;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    padding: 40px 10px;
}

@media (max-width: 800px) {
    .footer {
        grid-template-columns: 1fr 1fr;
    }

    .footer-logo {
        display: none   ;
    }
}