.header-bg {
    background: #000000;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.header-menu {
    display: flex;
    gap: 1.5rem;
}

.header-item {
    padding: 0.7rem 1rem ;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

@media screen and (max-width: 800px) {
   .header-item {
        background-color:  var(--cor-11);
   }
}

@media screen and (max-width: 500px) {
    .header {
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }
}