.header-bg {
    background: #000000;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header-menu {
    display: flex;
    gap: 2.7rem;
    font-size: 18px;
    line-height: 32px;
    color: #ffffff;
}

.header li {
    padding: 0.7rem 0px ;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    position: relative;
}

.header li::after {
    content: "";
    display: block;
    height: 2px;
    width: 0px;
    background: #ffffff;
    margin-top: 4px;
    position: absolute;
}

.header li:hover::after {
    width: 100%;
    transition: width 0.3s ease;
}

@media screen and (max-width: 800px) {
   .header li {
        padding: 10px 20px ;
        background-color:  var(--cor-11);
        border-radius: 5px;
   }

   .header li:hover {
        background-color: #2e2e2e;
    }

    .header li::after {
        display: none;
    }

}

@media screen and (max-width: 600px) {
    .header-menu {
        gap: 1rem;
    }

    .header li {
        background-color:  var(--cor-11);
        border-radius: 5px;
        font-size: 14px ;
        padding: 5px 15px;
   }
}