.header-bg {
    background: #000000;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu {
    display: flex;
    gap: 2.7rem;
}

.header-item {
    padding: 0.7rem 0px ;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    position: relative;
}

.header-item::after {
    content: "";
    display: block;
    height: 2px;
    width: 0px;
    background: #ffffff;
    margin-top: 4px;
    position: absolute;
}

.header-item:hover::after {
    width: 100%;
    transition: width 0.3s ease;
}

@media screen and (max-width: 800px) {
   .header-item {
    padding: 0.7rem 1.5rem ;
        background-color:  var(--cor-11);
        border-radius: 5px;
   }

   .header-item:hover {
        background-color: #2e2e2e;
}

    .header-item::after {
        display: none;
}

}

@media screen and (max-width: 600px) {
     .header-item {
        background-color:  var(--cor-11);
        border-radius: 5px;
        font-size: 0.8em;
   }
}