.introducao-bg {
    background: #000000;
    margin-bottom: 100px; 
    box-shadow: inset 0px -120px #ffffff;
}

.introducao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.introducao-conteudo {
    align-self: end;
    padding-bottom: 180px;
}

.introducao h1 {
    font-size: 3rem;
    line-height: 55px;
    color: #ffffff;
    margin-bottom: 1rem;
}

.introducao p {
    font-size: 1.125rem;
    line-height: 36px;
    letter-spacing: 0;
    color: #B2B2B2;
    margin-bottom: 2rem;
}

.introducao-imagem-container {
    margin-bottom: -120px;
}

.introducao img {
    object-fit: cover;
    height: auto; 
}

