.introducao-bg {
    background: #000000;
    margin-bottom: 100px; 
    box-shadow: inset 0px -120px #ffffff;
}

.introducao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.introducao-conteudo {
    align-self: end;
    padding-bottom: 180px;
}

.introducao h1 {
    font-size: 3rem;
    line-height: 55px;
    color: #ffffff;
    margin-bottom: 1rem;
     font-family: 'Poppins', sans-serif;
    font-weight: 600px;
}

.introducao p {
    font-size: 1.125rem;
    line-height: 36px;
    letter-spacing: 0;
    color: #B2B2B2;
    margin-bottom: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400px;
}

.introducao-imagem-container {
    margin-bottom: -120px;
}

.introducao img {
    object-fit: cover;
    height: auto; 
}

@media (max-width: 800px) {
    .introducao-bg {
        background-color: #111111;
    }

    .introducao {
        grid-template-columns: 1fr;
    }

    .introducao-conteudo {
        padding-bottom: 0px;
    }

    .introducao-conteudo h1 {
        font-size: 2.1rem;
    }

    .introducao-conteudo p {
        font-size: 1.2rem;
        line-height: 1.5;
    }


}

