.parceiros {
    margin-bottom: 100px;
}

.parceiros-lista {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 20px;
}

.parceiros-titulo {
    margin-bottom: 60px;
}

.parceiros-item {
    padding: 20px;
    border: 1px solid #ccc;
}


.parceiros-item:nth-child(4n+1) { 
    border-left: none;
}
.parceiros-item:nth-child(-n+4) { 
    border-top: none;
}
.parceiros-item:nth-child(4n) { 
    border-right: none;
}
.parceiros-item:nth-last-child(-n+4) {
    border-bottom: none;
}

@media (max-width: 800px) {
    .parceiros-lista {
        grid-template-columns: 1fr 1fr;
    }
    
}