.parceiros {
    margin-bottom: 100px;
}

.parceiros ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 20px;
}

.parceiros h2 {
    margin-bottom: 60px;
}

.parceiros ul a {
    display: flex;
    padding: 30px;  
}

.parceiros ul li {
    border-left: 1px solid #ccc;
}

.parceiros ul li img {
    margin: auto;
    border-radius: 0px;
    min-width: 32px;
}

.parceiros ul li:first-child {
    border-left: none
}

.parceiros ul li:nth-child(5n) {
    border-left: none;
}

.parceiros ul li:nth-child(5n), .parceiros ul li:nth-child(6n), .parceiros ul li:nth-child(7n), .parceiros ul li:nth-child(8n){
    border-top: 1px solid #ccc;
}


@media (max-width: 800px) {
    .parceiros ul {
        grid-template-columns: 1fr 1fr;
    }

    .parceiros ul li:nth-child(3),
    .parceiros ul li:nth-child(7){
        border-left: none;
    }

    .parceiros ul li:first-child,
    .parceiros ul li:nth-child(2) , 
    .parceiros ul li:nth-child(6){
        border-bottom: 1px solid #ccc;
    }

}